html {
  background-color: black;
  font-family: Verdana, sans-serif;
  text-align: center;

}


.bottom a, .top a {
  color: Aquamarine;
  font-size: 16px;

}

.bigwhitetext{
  color: white;
}

.top .bigwhitetext {
  font-size: 50px;
  font-weight: normal;

}

.content .bigwhitetext, .bottom .bigwhitetext  {
  font-size: 42px;
  font-weight: 300;

}



.content p, .bottom p {
  color: Gray;
  font-size: 21px;

}

.bottom p {
  text-align: right;
}

video {
  object-fit: contain;

}
